@font-face {
  font-family: 'battery';
  src:  url('fonts/battery.eot?obnxe1');
  src:  url('fonts/battery.eot?obnxe1#iefix') format('embedded-opentype'),
    url('fonts/battery.ttf?obnxe1') format('truetype'),
    url('fonts/battery.woff?obnxe1') format('woff'),
    url('fonts/battery.svg?obnxe1#battery') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'battery' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-battery-charge1:before {
  content: "\e910";
}
.icon-battery-high:before {
  content: "\e911";
}
.icon-battery-mid:before {
  content: "\e912";
}
.icon-battery-low:before {
  content: "\e913";
}
